/* don't display the side axis at all ("all-day" and time cells) */
.fc-timeGrid-view .fc-axis {
  display: inherit !important;
}

/* don't display the horizontal lines */
.fc-slats,
.fc-time-grid hr {
  /* this hr is used when height is underused and needs to be filled */
  display: inherit !important;
  /* important overrides inline declaration */
}

.fc-time-grid .fc-event {
  position: inherit !important;
  margin: 3px 2px !important;
}

.fc-scroller,
.fc-day-grid-container,
.fc-time-grid-container {
  /* */
  overflow: inherit !important;
  height: inherit !important;
}
