@media only print {
  @page {
    margin: 2cm 0.4cm;
  }

  #sidebar,
  #print-toggle-button,
  #calendar-export-button,
  #calendar-info-display,
  #semester-selector,
  #drop-zone,
  .capacities {
    display: none;
  }

  #printed-calendar-title {
    display: block !important;
  }

  /* If you don't do this, the calendar doesn't fill the available page width. */
  #calendar-display {
    flex: none;
    max-width: 100%;
  }

  .fc-event {
    background: #fff !important;
    color: #000 !important;
    page-break-inside: avoid;
    border: 1px solid black !important;
    font: 14pt Georgia, "Times New Roman", Times, serif !important;
    line-height: 1.3 !important;
    padding: 5px !important;
  }

  .fc-unthemed td {
    border-color: black;
  }

  /* This makes the lines on the 15-minute intervals much less in-your-face. */
  .fc-time-grid .fc-slats .fc-minor td {
    border: 1px dotted darkgrey !important;
  }
}
