.fc-event {
  font-size: 0.6em;
  font-weight: 600;
  font-family: "Helvetica", "Arial", sans-serif;
}

.capacities {
  float: right;
  font-weight: lighter;
}

.overcap {
  color: red;
  font-weight: bold;
}
