#notifications p {
  font-size: 0.85em;
}

#notifications h2 {
  padding: 3px;
  border-radius: 0.25em;
  border: 1px solid transparent;
}

#notifications h2.with-no-issues {
  background-color: darkgreen;
  color: white;
}

#notifications h2.with-issues {
  background-color: darkred;
  color: white;
}
