#notifications p {
  font-size: 0.85em;
}

#notifications h2 {
  padding: 5px;
}

#notifications .with-no-issues {
  background-color: darkgreen;
  color: white;
}

#notifications .with-issues {
  background-color: darkred;
  color: white;
}
